# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / IPython checkpoints
.ipynb_checkpoints

# Environment variables / config files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
